body {
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 7pc solid #ddd;
  background-color: white;
}

.logo {
  font-size: 24px;
  background-color: black;
  color: rgb(253, 253, 253);
  padding: 5px 10px;
  border-radius: 4px;
}

nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}
nav ul li a:hover {
  color: #007bff;
}

img{
  height: 30px;
  width: 30px;
}
.search-profile{
  margin-left: 30px;
  display: flex;
}